<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Hotel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="roomDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Room
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="roomDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('room', room_type='single') }}">Single</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('room', room_type='double') }}">Double</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('room', room_type='family') }}">Family</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('room', room_type='deluxe') }}">Deluxe</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('book_room') }}">Book Now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>